.board-wrap {
  width: 100%;
  height: 99%;
  font-size: 20px;
}

.board-wrap-top {
  width: 100%;
  height: 10%;

  font-size: 3em;
}

.board-wrap-middle {
  width: 100%;
  height: 90%;
  text-align: center;
}

.board-wrap-bottom {
  width: 100%;
  height: 0%;
}

.board-wrap-top-title {
  width: 45%;
  float: left;
}
.board-wrap-top-search {
  width: 50%;

  margin: 1vh 30% 2vh 25%;
  float: left;

  font-size: 0.8em;
  padding: 1vh 2% 1vh;
}

.board-top-search-input {
  font-size: 2.5vmin;
  height: 5vh;
  width: 100%;
  background-color: #fff;
  border: 1px solid #333333;
  padding: 1.5vmin;
}
.board-content-top-title {
  width: 100%;
}

.board-wrap-middle-table {
  width: 99.5%;
  height: 95%;
  border: 0.5px solid rgb(215, 215, 215);
  text-align: center;
  padding: 200px;
}

@media (max-width: 1500px) {
  .board-wrap {
    font-size: 16px;
  }
}

@media (max-width: 1300px) {
  .board-wrap {
    font-size: 14px;
  }
}

@media (max-width: 1100px) {
  .board-wrap {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .board-wrap {
    font-size: 10px;
  }
  .board-wrap-top-title {
    width: 55%;
    font-size: 0px;
  }
}

@media (max-width: 700px) {
  .board-wrap {
    font-size: 8px;
  }
}
@media (max-width: 600px) {
  .board-wrap {
    font-size: 7px;
  }
}
